{% extends 'base.html.twig' %}


{% block title %}Welcome!
{% endblock %}

{% block body %}
	<body>
		<div class="container mx-auto px-4 py-8">
			{% for label, messages in app.flashes %}
				{% for message in messages %}
					<div class="text-white bg-{{ label == 'success' ? 'green' : 'red' }}-500 p-3 rounded my-3">
						{{ message }}
					</div>
				{% endfor %}
			{% endfor %}
			<header class="text-center mb-8">
				<h1 class="text-4xl font-bold text-blue-600">Bienvenue sur notre plateforme !</h1>
				<p class="mt-2 text-lg font-semibold">Trouvez et réservez facilement tous vos services du quotidien</p>
			</header>


			<section class="py-12">
				<div class="container mx-auto px-4">
					<h2 class="text-2xl font-bold text-center mb-8">Les Services</h2>


					{% if services is empty %}
						<p class="text-center text-gray-500">Aucun service disponible pour le moment.</p>
					{% else %}
						<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
							{% for service in services %}
								<div class="bg-white p-6 rounded-lg shadow-md">
									<h3 class="text-lg font-semibold mb-2">{{ service.name }}</h3>
									<p class="text-gray-600 text-sm break-words">{{ service.description }}</p>
									<p class="text-blue-600 font-bold mt-2">{{ service.price / 100 }}
										€</p>
									<div class="text-xs text-gray-400 mt-1 flex flex-col space-y-1">
										<span>
											<strong>Proposé par :</strong>
											{{ service.professional.compagnyName ?? 'Professionnel inconnu' }}</span>
										<span>
											<strong>Ville :</strong>
											{{ service.professional.cityCompagny ?? 'Ville inconnue' }}</span>
										<span>
											<strong>Code postal :</strong>
											{{ service.professional.zipCodeCompagny ?? 'Code postal inconnu' }}</span>
									</div>
									<a href="{{ path('service_reserver', {id: service.id}) }}" class="inline-block mt-2 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
										Réserver
									</a>
								</div>
							{% endfor %}
						</div>
					{% endif %}
				</div>
			</section>
		</div>
	</body>

</html>{% endblock %}
